In [29]:
#london bikeshare dataset
import pandas as pd

bikes = pd.read_csv("london_merged.csv")
bikes

# cnt: count of new bikeshares per hour
# t1: real temperature
# t2: "feels-like" temperature
# hum: humidity (%)
# wind_speed (km/h)
# is_holiday: 1-holiday, 0-regular day
# is_weekend: 1-weekend, 0-weekday
# season: 0-spring, 1-summer, 2-autumn, 3-winter
# weather-code: weather categories
#   1 = Clear ; mostly clear but have some values with haze/fog/patches of fog/ fog in vicinity
#   2 = scattered clouds / few clouds
#   3 = Broken clouds
#   4 = Cloudy
#   7 = Rain/ light Rain shower/ Light rain
#   10 = rain with thunderstorm
#   26 = snowfall
#   94 = Freezing Fog

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [30]:
# counts of each weather category
bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [31]:
# Specify new column names as dictionary
newBikeCols = {
    'timestamp': 'date_time',
    'cnt': 'count',
    't1': 'real_temp_C',
    't2': 'feels_like_temp_C',
    'hum': 'humidity',
    'wind_speed': 'wind_speed_kmh',
    'weather_code': 'weather',
    'is_holiday': 'is_holiday',
    'is_weekend': 'is_weekend',
    'season': 'season'
}

# Rename dataFrame columns
bikes.rename(newBikeCols, axis=1, inplace = True)

In [32]:
# Change humidity values to between 0,1
bikes.humidity = bikes.humidity / 100

In [33]:
# Season dictionary (call seasons by name)
season_dict = {
    '0.0': 'spring',
    '1.0': 'summer',
    '2.0': 'autumn',
    '3.0': 'winter'
}

# Weather dictionary
weather_dict = {
    '1.0': 'clear',
    '2.0': 'scattered cloud',
    '3.0': 'moderate cloud',
    '4:0': 'cloudy',
    '7.0': 'rain',
    '10.0': 'rain with thumderstorm',
    '26.0': 'snowfall'
}

# Change column data types from int to string
bikes.season = bikes.season.astype('str')
bikes.weather = bikes.weather.astype('str')

# Update values in columns to string versions
bikes.season = bikes.season.map(season_dict)
bikes.weather = bikes.weather.map(weather_dict)
bikes.head()

,date_time,count,real_temp_C,feels_like_temp_C,humidity,wind_speed_kmh,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,moderate cloud,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,clear,0.0,1.0,winter

In [38]:
bikes.to_csv('london_bikes_final.csv')